<?xml version="1.0" encoding="UTF-8"?>
<!-- Full version number to display -->
<?define VersionNumber="!(bind.FileVersion.ThetisEXE)" ?>
<?define NetFx480MinRelease = 528040 ?>
<?define DocumentationPath = "..\..\lib\Thetis-resources\" ?>
<!-- 32-bit / 64-bit variables -->
<?if $(var.Platform) = x64 ?>
<?define Win64 = "yes" ?>
<?define UpgradeCode = "DEC025E2-4B27-425D-8EFE-AD6F5F780D52"?>
<?define ProductName = "Thetis (64-bit)" ?>
<?define ThetisName = "Thetis-x64"?>
<?define VC143 = "Microsoft_VC143_CRT_x64.msm" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?define FilesPath = "..\..\Bin\$(var.Platform)\$(var.Configuration)\" ?>
<?else ?>
<?define Win64 = "no" ?>
<?define UpgradeCode = "CE4756C9-3CA7-4A55-8980-7F0A920890DE"?>
<?define ProductName = "Thetis (32-bit)" ?>
<?define ThetisName = "Thetis"?>
<?define VC143 = "Microsoft_VC143_CRT_x86.msm" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?define FilesPath = "..\..\Bin\$(var.Platform)\$(var.Configuration)\" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
      xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

  <Product Id="*"
           Name="$(var.ProductName)"
           Language="!(loc.Language)"
           Version="$(var.VersionNumber)"
           Manufacturer="!(loc.ManufacturerName)"
           UpgradeCode="$(var.UpgradeCode)">
    <Package Id="*"
             InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             Description="!(loc.ProductDescription)"
             Comments="!(loc.Comments) $(var.VersionNumber)"/>

    <!-- Upgrade logic -->
    <!-- AllowSameVersionUpgrades -> Always upgrade, never allow two versions to be installed next to each other -->
    <!-- AllowSameVersionUpgrades causes ICE61 which must be ignored -->
    <MajorUpgrade Schedule="afterInstallExecute" 
                  DowngradeErrorMessage="!(loc.NewerInstalled)" 
                  AllowSameVersionUpgrades="yes" />
    
    <MediaTemplate EmbedCab="yes" />

    <PropertyRef Id="NETFRAMEWORK45" />
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED"/>

    <Condition Message="[ProductName] Requires .NET Framework 4.8.0 or later to be installed. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED]]>
    </Condition>

    <WixVariable Id="WixUILicenseRtf" Value="GNU_GENERAL_PUBLIC_LICENSE.rtf" />

    <Feature Id="ProductFeature" Title="Thetis" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>

    <Feature Id="VC143Redist" Title="Visual C++ 14.3 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VC143Redist"/>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_Mondo" />

    <!-- UI customization -->
    <WixVariable Id="WixUIBannerBmp" Value="binary/hpsdrbanner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="binary/hpsdrBackground.bmp"/>

    <!-- Define icons (ID should not be longer than 18 chars") -->
    <Icon Id="icon.ico" SourceFile="binary/Thetis.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
 
    <!-- 
         Launch conditions
         
            Check minimum OS version 
            If not, the installation is aborted.
            By doing the (Installed OR ...) property means that this condition will only be evaluated if the app is being installed and not on uninstall or changing
         
            Note: Under a Product element, a condition becomes a LaunchCondition entry. 
      -->
    <Condition Message="!(loc.OS2Old)">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>

    <?if $(var.Platform) = x64 ?>
    <Condition Message="!(loc.x86VersionRequired)">
      <![CDATA[VersionNT64]]>
    </Condition>
    <?endif?>
    
  </Product>

  <Fragment>
    <PropertyRef Id="WIXNETFX4RELEASEINSTALLED" />
    <Property Id="WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED" Secure="yes" />
    <SetProperty Id="WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED" Value="1" After="AppSearch">
      WIXNETFX4RELEASEINSTALLED >= "#$(var.NetFx480MinRelease)"
    </SetProperty>
  </Fragment>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="VC143Redist" SourceFile="$(var.VC143)" DiskId="1" Language="0"/>

      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="HPSDRFolder" Name="OpenHPSDR">
          <Directory Id="INSTALLFOLDER" Name="Thetis">
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="OpenHPSDRShortcutsDir" Name="OpenHPSDR">
          <Directory Id="ShortcutsDir" Name="$(var.ThetisName)">           
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder">
      </Directory>
      
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="6A395378-66D6-4986-97C6-8CF9423A066C">       
        <Shortcut Id="ProgramDesktopShortcut"
                  Name="$(var.ThetisName)"
                  Description="Run Thetis"
                  Target="[INSTALLFOLDER]Thetis.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKLM" Key="Software\OpenHPSDR\$(var.ThetisName)"
                Name="desktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ShortcutsDir">
      <Component Id="StartMenuShortcut">
              
        <Shortcut Id="ThetisShortcut"
                  Name="$(var.ThetisName)"
                  Description="Run Thetis"
                  Target="[INSTALLFOLDER]Thetis.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  />
        <RemoveFolder Id="RemoveShortcutsDir" On="uninstall" />
        
        <RegistryValue Root="HKLM"
                     Key="SOFTWARE\OpenHPSDR\$(var.ThetisName)"
                     Name="installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />

        <Shortcut Id="ThetisManualShortcut"
                      Name="ThetisManual"
                      Description="Open Thetis Manual"
                      Target="[INSTALLFOLDER]Thetis manual.pdf"
                      WorkingDirectory="INSTALLFOLDER" />

        <Shortcut Id="MIDI2CATManualShortcut"
                Name="Midi2CatManual"
                Description="Open Midi2Cat Manual"
                Target="[INSTALLFOLDER]Midi2Cat_Instructions_V3.pdf"
                WorkingDirectory="INSTALLFOLDER" />

        <Shortcut Id="PureSignalManualShortcut"
         Name="PureSignalManual"
         Description="Open PureSignal Manual"
         Target="[INSTALLFOLDER]PureSignal.pdf"
         WorkingDirectory="INSTALLFOLDER" />

        <Shortcut Id="BehringerModsShortcut"
          Name="BehringerMods-Midi2Cat"
          Description="Open Behringer-Midi2Cat Mods"
          Target="[INSTALLFOLDER]BehringerMods_Midi2Cat_v2.pdf"
          WorkingDirectory="INSTALLFOLDER" />

        <Shortcut Id="CATCommandRefShortcut"
         Name="CATCommandRef"
         Description="Open CAT-Command Ref"
         Target="[INSTALLFOLDER]Thetis-CAT-Command-Reference-Guide-V3.pdf"
         WorkingDirectory="INSTALLFOLDER" />

      </Component>
    </DirectoryRef>
       
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="fwException" Guid="*" Transitive="yes">
      <File Id="ThetisEXE"
	    Source="$(var.FilesPath)Thetis.exe"
	    KeyPath="yes">
      </File>
      </Component>

      <Component Guid="*">
        <File Id="CATStructsXML"
              Source="$(var.FilesPath)CATStructs.xml"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="wdspDLL"
              Source="$(var.FilesPath)wdsp.dll"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="LibFFTW33DLL"
              Source="$(var.FilesPath)libfftw3-3.dll"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="PA19DLL"
              Source="$(var.FilesPath)PA19.dll"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="ChannelMasterDLL"
              Source="$(var.FilesPath)ChannelMaster.dll"
              KeyPath="yes"
              />
      </Component>

      <!--<Component Guid="*">
        <File Id="calculus"
              Source="$(var.FilesPath)calculus"
              KeyPath="yes"
              />
      </Component>-->

      <Component Guid="*">
        <File Id="Midi2CatDLL"
              Source="$(var.FilesPath)Midi2Cat.dll"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="RawInputDLL"
              Source="$(var.FilesPath)RawInput.dll"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="System.BuffersDLL"
              Source="$(var.FilesPath)System.Buffers.dll"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="SharpDX.DesktopDLL"
              Source="$(var.FilesPath)SharpDX.Desktop.dll"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="SharpDX.Direct2D1DLL"
              Source="$(var.FilesPath)SharpDX.Direct2D1.dll"
              KeyPath="yes"
              />
      </Component>
      <Component Guid="*">
        <File Id="SharpDX.Direct3D11DLL"
              Source="$(var.FilesPath)SharpDX.Direct3D11.dll"
              KeyPath="yes"
              />
      </Component>
      <Component Guid="*">
        <File Id="SharpDX.DXGIDLL"
              Source="$(var.FilesPath)SharpDX.DXGI.dll"
              KeyPath="yes"
              />
      </Component>
      <Component Guid="*">
        <File Id="SharpDXDLL"
              Source="$(var.FilesPath)SharpDX.dll"
              KeyPath="yes"
              />
      </Component>
      <Component Guid="*">
        <File Id="SharpDX.MathematicsDLL"
              Source="$(var.FilesPath)SharpDX.Mathematics.dll"
              KeyPath="yes"
              />
      </Component>
		<Component Guid="*">
			<File Id="WindowsFirewallHelperDLL"
				  Source="$(var.FilesPath)WindowsFirewallHelper.dll"
				  KeyPath="yes"
              />
		</Component>
      <Component Guid="*">
        <File Id="FTDI2xxDLL"
            Source="$(var.FilesPath)FTDI2XX.dll"
            KeyPath="yes"
              />
      </Component>
      <Component Guid="*">
        <File Id="PureSignalPDF"
              Source="$(var.DocumentationPath)PureSignal.pdf"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="ThetisManualPDF"
              Source="$(var.DocumentationPath)Thetis manual.pdf"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="Midi2Cat_Instructions_V3PDF"
              Source="$(var.DocumentationPath)Midi2Cat_Instructions_V3.pdf"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="BehringerMods_Midi2Cat__V2PDF"
              Source="$(var.DocumentationPath)BehringerMods_Midi2Cat_v2.pdf"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="ThetisCATCommandReferenceGuideV3PDF"
              Source="$(var.DocumentationPath)Thetis-CAT-Command-Reference-Guide-V3.pdf"
              KeyPath="yes"
              />
      </Component>
    </ComponentGroup>

    <Binary Id="InstallSkins" SourceFile="OpenHPSDR_Skins.exe" />
    <CustomAction Id="InstallSkins_CA" BinaryKey="InstallSkins"
        Impersonate="yes" Execute="deferred" ExeCommand="[SystemFolder]cmd.exe /C start OpenHPSDR_Skins.exe &amp; exit"
                  Return="check"/>

	  <Binary Id="InstallMeterSkins" SourceFile="MeterSkinInstaller.exe" />
	  <CustomAction Id="InstallMeterSkins_CA" BinaryKey="InstallMeterSkins"
		  Impersonate="yes" Execute="deferred" ExeCommand="[SystemFolder]cmd.exe /C start MeterSkinInstaller.exe"
					Return="check"/>

    <InstallExecuteSequence>
      <Custom Action='InstallSkins_CA' Before='InstallFinalize'>
        NOT Installed
      </Custom>
    </InstallExecuteSequence>

	  <InstallExecuteSequence>
		  <Custom Action='InstallMeterSkins_CA' Before='InstallFinalize'>
			  NOT Installed
		  </Custom>
	  </InstallExecuteSequence>
	  
    <!--   -->
  </Fragment>

</Wix>
