Project Files/bin
Project Files/build
Project Files/Source/Console/obj
Project Files/Source/Midi2Cat/obj
Project Files/Source/Midi2Cat/bin
Project Files/Source/*.suo
Project Files/Source/*.sdf
Project Files/lib/WinFormsUI/obj
